{% extends 'base.html.twig' %}

{% block title %}{{ topic.title }}{% endblock %}

{% block body %}
    <div class="topic-header">
        <h1 class="topic-header-title">{{ topic.title }}</h1>
        <h3 class="topic-header-description">{{ topic.description }}</h3>
        <p class="topic-header-info">Created by {{ topic.user.username }}
            , {{ topic.created|format_datetime(pattern='d MMMM y k:mm') }} in
            {{ topic.forum.title }}</p>
    </div>

    <div class="topic-button-menu">
        <ul class="topic-button-list">
            {% if app.user %}
            <li class="topic-button-container">
                <a class="topic-button-reply">Reply</a>
            </li>
            {% endif %}
        </ul>
    </div>

    <div class="posts-container">
        {% for post in topic.posts %}
            <div class="post">
                <div class="post-authorpanel">
                    <h3 class="post-author-username">{{ post.user.username }}</h3>
                    <ul class="post-author-info">
                        <li class="post-author-info-postcounter">Posts: {{ post.user.posts|length }}</li>
                    </ul>
                </div>
                <div class="post-contentscolumn">
                    <div class="post-creationdate">
                        {{ post.created|format_datetime(pattern='d MMMM y k:mm') }}
                    </div>
                    <div class="post-contents">
                        {{ post.contents }}
                    </div>
                    <div class="post-footer">
                        {% if app.user and app.user.id == post.user.id %}
                            <a class="post-footer-button">Edit</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
